:root {
  --color-white: #fafafa;
  --color-contrast: #dbdbdb;
  --color-main: #1f1f1f;
  --color-primary: #07a269;
  --color-secondary: #009ccc;
  --color-shadows: rgba(117, 117, 117, 0.25);
}

html,
body {
  color: var(--color-main);
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  font-size: 14px;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  margin-top: 0;
}

.underline {
  text-decoration: underline;
}
