.main {
  max-width: 100%;
  overflow-x: hidden;
}
.video {
  position: absolute;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
  width: 100%;
}

.section {
  padding: 0 2rem;
  position: relative;
}

.title {
  color: var(--color-contrast);
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0;
  padding: 2rem 0;
  text-align: center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
}

.imageProfile {
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  box-shadow: 0px 4px 7px 4px var(--color-shadows, rgba(117, 117, 117, 0.25));
  height: 130px;
  overflow: hidden;
  position: relative;
  width: 130px;
}

.social {
  color: var(--color-primary);
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.sectionTitle {
  font-size: 1.8rem;
  font-weight: 600;
}

.resumeSmall {
  font-size: 0.8rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
